<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head>
	<title>JGuard - Moja biżuteria</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/jguard.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-address" href="#">JGuard</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="jewelrys" class="btn btn-default">Moja biżuteria</a></li>
				<li><a href="jewelrys/new" class="btn btn-default">Dodaj nową</a></li>
				<li><a href="logout" class="btn btn-default">Wyloguj</a></li>
				<li><a href="/about"  class="btn btn-default">About</a></li>
			</ul>
		</div>
	</nav>
	<div class="content">

		<div class="col-md-6 col-md-offset-3">

			<form autocomplete="off" action="#" th:action="@{/shops/new}"
				  th:object="${jewelry}" method="post" class="form-horizontal"
				  role="form">
				<h2>Dodawanie nowej biżuterii</h2>
				<div class="form-group">
					<div class="">
						<label th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
							   class="validation-message"></label>
						<input type="text" th:field="*{address}" placeholder="Nazwa firmy"
							   class="form-control" />
					</div>
				</div>

				<div class="form-group">
					<div class="">
						<label th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
							   class="validation-message"></label>
						<input type="text" th:field="*{description}" placeholder="Opis"
							   class="form-control" />
					</div>
				</div>

				<div class="form-group">
					<div class="">
						<label	th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
								  class="validation-message"></label>
						<input type="text" th:field="*{address}" placeholder="Adres"
							   class="form-control" />
					</div>
				</div>

				<div class="form-group">
					<div class="">
						<button type="submit" class="btn btn-primary btn-block">Wyślij zgłoszenie</button>
					</div>
				</div>

				<span th:utext="${successMessage}"></span>



			</form>
		</div>

	</div>
</div>
</body>
</html>
