<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Jewelery Guard - Rejestracja</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<form autocomplete="off" action="#" th:action="@{/jewelry/new}"
					th:object="${jewelry}" method="post" class="form-horizontal"
					role="form">
					<h2>Dodawanie nowej biżuterii</h2>
					<div class="form-group">
						<div class="col-sm-9">
						<label th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"
								class="validation-message"></label>
						<input type="text" th:field="*{brand}" placeholder="Firma"
								class="form-control" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<label th:if="${#fields.hasErrors('metal')}" th:errors="*{metal}"
								   class="validation-message"></label>
							<input type="text" th:field="*{metal}" placeholder="Kruszec"
								   class="form-control" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
						<label	th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="validation-message"></label>
							<input type="text" th:field="*{name}" placeholder="Nazwa"
								   class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-6">Waga:
							<input type="text" th:field="*{weight}" placeholder="Waga"
								class="form-control" /> <label
								th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"
								class="validation-message"></label>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Dodaj</button>
						</div>
					</div>

					<span th:utext="${successMessage}"></span>

					<a href="/admin/home" class="btn btn-md btn-info btn-block" role="button">Home</a>
					<a href="/jewelry/list" class="btn btn-md btn-info btn-block" role="button">Pokaż moją biżuterię</a>
					<form th:action="@{/logout}" method="get">
						<button class="btn btn-md btn-danger btn-block" name="registration"
								type="Submit">Wyloguj</button>
					</form>


				</form>
			</div>
		</div>
	</div>

</body>
</html>
