<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">


		<div class="col-md-6 col-md-offset-3">
			<div class="jg-all-jewelry-l">
				<h1>Biżuteria </h1>
				<div class="table-responsive">
					<table class="table">
						<tr>
							<th>L.P.</th>
							<th>Nazwa</th>
							<th>Firma</th>

							<th>User</th>
						</tr>
						<tr th:each="j,iterationStatus  : ${jewelryList}">
							<div clas="jewelry-l-item">

								<td th:text="${iterationStatus.count}">1</td>
								<td th:text="${j.name}">NAME</td>
								<td th:text="${j.brand}">BRAND</td>
								<td th:text="${j.user.name}">USER</td>

							</div>
						</tr>
					</table>
				</div>

			</div>
		</div>

</html>
