.navbar-nav li {
    padding: 5px;
    margin: auto;
}
.j-img {
    position:relative;
    width:200px;
    height:200px;
    margin: 2px;
    border: 5px solid yellow;
    border-radius: 5px;
    background-size: 100%;
}
.j-img:hover > .j-img-nav {
        display:block;
    }


.j-img-nav {
    display:none;
    position: absolute;
    bottom: 0px;
    background-color:rgb(0,0,0,0.8);
    width: 190px;
    height: 20px;
}
.j-img-list{
    display:flex;
    flex-wrap:wrap;
}
.loader {
    margin:auto;
    display:none;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}