<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Strona admina</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/jguard.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">JGuard</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="/jguard" class="btn btn-default">Home</a></li>
					<li><a href="/metals" class="btn btn-default">Kruszce</a></li>
					<li><a href="/categories" class="btn btn-default">Kategorie</a></li>
					<li><a href="/users" class="btn btn-default">Użytkownicy</a></li>
					<li><a href="/logout" class="btn btn-default">Wyloguj</a></li>
				</ul>
			</div>
		</nav>
	</div>
</body>
</html>
