<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

            <ul class="nav navbar-nav">
                <li><button th:onclick="'navTo(\'admin/users\')'" class="btn btn-default">Użytkownicy</button></li>
                <li><button th:onclick="'navTo(\'admin/shops\')'" class="btn btn-default">Sklepy</button></li>
                <li><button th:onclick="'navTo(\'admin/jewelrys\')'" class="btn btn-default">Biżuterie</button></li>
                <li><button th:onclick="'navTo(\'admin/metals\')'" class="btn btn-default">Kruszce</button></li>
                <li><button th:onclick="'navTo(\'admin/categories\')'" class="btn btn-default">Kategorie</button></li>
            </ul>