<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
        <ul class="nav-a nav navbar-nav">
                <li><button th:onclick="'navTo(\'admin/edit?e=user\')'" class="btn btn-default">Użytkownicy</button></li>
                <li><button th:onclick="'navTo(\'admin/edit?e=shop\')'" class="btn btn-default">Sklepy</button></li>
                <li><button th:onclick="'navTo(\'admin/edit?e=jewelry\')'" class="btn btn-default">Biżuterie</button></li>
                <li><button th:onclick="'navTo(\'admin/edit?e=metal\')'" class="btn btn-default">Kruszce</button></li>
                <li><button th:onclick="'navTo(\'admin/edit?e=category\')'" class="btn btn-default">Kategorie</button></li>
                <li><button th:onclick="'navTo(\'user\')'" class="btn btn-default">Powrót</button></li>
            </ul>