<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

		<div class="jg-form-i">
			<form autocomplete="off" enctype="multipart/form-data"
				  th:onsubmit="'return submitForm(\'/jewelrys/'+ ${jewelryId} +'\',\'jg-form-i\')'"
				  th:object="${myFile}" method="delete" class="form-horizontal"
				  role="form">
				<div class="form-group">
					<div class="">
						<button type="submit" class="btn btn-danger btn-block">Delete</button>
					</div>
				</div>
			</form>
				<h2><input disabled th:value="${jewelry.name}"></input></h2>
				Firma: <input th:value="${jewelry.brand}"></input>
				Kruszce: <div>
					<p th:each="m : ${jewelry.metalList}"
					   th:text="${m.name}"></p>
				</div>
				Waga: <input th:value="${jewelry.weight}"></input>
				Kategorie: <div>
					<p th:each="c : ${jewelry.categoryList}"
					   th:text="${c.name}"></p>
				</div>
			<div class="jewelry-img-container" >
				<h2> Zdjęcia: </h2>

				<div th:include="comp/file-upload :: file-upload" th:with="jewelryId=${jewelry.id}"></div>

				<object th:include="comp/j-img-list :: j-img-list" th:with="images=${images}" th:remove="tag"></object>
			</div>
		</div>
</html>
