<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

		<div class="jg-form-i">
		<div class="jg-form-d">
			<form autocomplete="off" enctype="multipart/form-data"
				  th:onsubmit="'return submitForm(\'/jewelrys/'+ ${jewelryId} +'\',\'jg-form-d\')'"
				  th:object="${myFile}" method="delete" class="form-horizontal"
				  role="form">
				<div class="form-group">
					<div class="">
						<button type="submit" class="btn btn-danger btn-block">Delete</button>
					</div>
				</div>
			</form>
			</div>
			
		<div class="jg-form-u">
			<form autocomplete="off" enctype="multipart/form-data" method="put"
				  th:object="${jewelry}" th:onsubmit="'return submitForm(\'/jewelrys/'+ ${jewelryId} +'\',\'jg-form-u\')'">
				<div class="form-group">
				<div class="">
					<label th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"
						   class="validation-message"></label>
					<input type="text" th:field="*{brand}" placeholder="Firma"
						   class="form-control" required maxlength="30" />
				</div>
			</div>

			<div class="form-group">
				<div class="">
					<label	th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
							  class="validation-message"></label>
					<input type="text" th:field="*{name}" placeholder="Nazwa"
						   class="form-control" required maxlength="50"/>
				</div>
			</div>
			<div class="form-group">
				<div class="">Waga:
					<input type="text" th:field="*{weight}" placeholder="Waga"
						   class="form-control" step="0.01"/> <label
							th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"
							class="validation-message" required>g</label>
				</div>
			</div>

			<div class="form-group">
				<div class="">Kategoria:
					<select th:field="*{categoryList}" class="selectpicker form-control" multiple="multiple">
						<option th:each="dropDownItem : ${categoryList}"
								th:value="${dropDownItem.id}"
								th:text="${dropDownItem.name}"  required/>
					</select>
				</div>
			</div>

			<div class="form-group">
				<div class="">Kruszec:
					<select th:field="*{metalList}" class="selectpicker form-control" multiple="multiple">
						<option th:each="dropDownItem : ${metalList}"
								th:value="${dropDownItem.id}"
								th:text="${dropDownItem.name}"  required/>
					</select>
				</div>
			</div>
			
			<div class="form-group">
				<div class="">
					<button type="submit" class="btn btn-primary btn-block">Uaktualnij</button>
				</div>
			</div>
			</form>
			</div>
			<div class="jewelry-img-container" >
				<h2> Zdjęcia: </h2>

				<div th:include="comp/file-upload :: file-upload" th:with="jewelryId=${jewelry.id}"></div>

				<object th:include="comp/j-img-list :: j-img-list" th:with="images=${images}" th:remove="tag"></object>
			</div>
		</div>
</html>
