<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Strona admina</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">JGuard</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="jguard" class="btn btn-default">Home</a></li>
		      <li><a href="jewelrys" class="btn btn-default">My Jewelrys</a></li>
		      <li><a href="jewelrys/new" class="btn btn-default">Add new jewlry</a></li>
		      <li><a href="shops" class="btn btn-default">Shops</a></li>
				<form th:action="@{/logout}" method="get">
					
				</form>
		      <li><a href="About">About</a></li>
		    </ul>
		  </div>
		</nav>
		<div class="content">
			
		
		</div>
	</div>
</body>
</html>
